@import '@fontsource-variable/inter';
@import '@fontsource-variable/inter-tight';
@import 'tailwindcss';

:root {
  --font-sans: 'InterVariable', 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-sans-tight: 'InterTightVariable', 'Inter Tight', 'Inter', ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}

@variant dark (.dark &);